<nav>
    <div class="nav-wrapper">
        <a href="{{ path('homepage') }}" class="brand-logo">MarmiWild</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-large" class="right hide-on-med-and-down">
            <li><a href="{{ path('recipe_index') }}">Les recettes</a></li>
            <li><a href="{{ path('recipe_new') }}">Nouvelle recette</a></li>
        </ul>
    </div>
</nav>
