<div class="row">
    <div class="col s4">
        {{ form_row(form.ingredients.vars.prototype.name) }}
    </div>
    <div class="col s4">
        {{ form_row(form.ingredients.vars.prototype.quantity) }}
    </div>
    <div class="col s4">
        {{ form_row(form.ingredients.vars.prototype.unit) }}
    </div>
</div>